root = true

[*]
max_line_length = 100|off
end_of_line = lf
indent_style = space
charset = utf8
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
indent_size = 2

[*.{js,json}]
indent_size = 2

[*.{css,scss,less,sass}]
indent_size = 2

[*.blade.php]
indent_size = 2

[*.txt]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
indent_style = tab
