// Roboto Condensed Font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Custom
$navBar: #1a466e;
$background: #d1d1d1;
$text: #858585;

body {
    font-family: 'Roboto Condensed';
    background-color: $background;
    color: $text;
}

.bg-image {
    background-image: url("../../public/img/background.webp");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.table {
    color: $text;
}

td {
    vertical-align: middle;
}

th {
    vertical-align: middle;
}

.navbar {
    margin-bottom: 1rem;
}

.bg-dark-blue {
    background-color: $navBar;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

h1 {
    margin-bottom: 0;
}

.wrapper {
    margin-top: 3rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 30px;
    width: 100%;
}

.help-button {
    font-size: 25px;
    display: flex;
    padding: 3rem;
    color: #00000050;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.help-button i {
    font-size: 130px;
}

.help-button:hover {
    background-color: #1a456ee1;
    display: flex;
    padding: 2rem;
    color: #ffffff80;
    align-items: center;
    justify-content: center;
}

.one {
    color: #ffffff90;
    background-color: #c9191995;
    grid-column: 1/4;
    grid-row: 1;
}

.two {
    color: #ffffff90;
    background-color: #df9e1195;
    grid-column: 2;
    grid-row: 1;
}

.three {
    color: #ffffff90;
    background-color: #798b10a1;
    grid-column: 3;
    grid-row: 1;
}

.four {
    color: #ffffff90;
    background-color: #21bb1395;
    grid-column: 4;
    grid-row: 1;
}

.five {
    color: #ffffff90;
    background-color: #12c2cf95;
    grid-column: 1;
    grid-row: 2;
}

.six {
    color: #ffffff90;
    background-color: #125ecf95;
    grid-column: 2;
    grid-row: 2;
}

.seven {
    color: #ffffff90;
    background-color: #8312cf95;
    grid-column: 3;
    grid-row: 2;
}

.eight {
    color: #ffffff90;
    background-color: #ce169795;
    grid-column: 4;
    grid-row: 2;
}
